/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.question {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin: 5px 0;
}

.hidden {
  display: none;
}


.slider-container {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.slider {
  width: 100%;
  margin: 20px 0;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9em;
}

.slider-value {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
  height: 25px;
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  border-radius: 12px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.therapist-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.therapist-button:hover {
  background-color: #45a049;
}